* {
    background-color: antiquewhite;
}

h1 h2 {
    color: red;
    
    align-content: center;
    alignment-baseline: central;
    text-align: left;
    text-decoration: underline;
}

p {
    background-color: rgb(172, 238, 207);
    text-align: justify;
    font-weight: 700;
    line-height: 1; 
    font-size: 1.1em;
    letter-spacing: 1px;
}
button {
    color: rgb(53, 52, 52);
    background-color: green;
}

#list1 {
    color: rgb(10, 226, 10);
}

.mark {
    background-color: yellow;
}